main {
	width: 100vw;
    height: 100vh;
    
    #map {
	    width: 100vw;
		height: 100vh;
		position: absolute;
    }
    
    aside {
	    width: 33vw;
	    height: 100vh;
	    position: fixed;
	    right: 0;
	    top: 0;
	    z-index: 9;
	    
	    #graph {
		    margin: 40px 0;
	    }
	    #date {
	        width: 100%;
		    color: white;
		    font-weight: 700;
		    text-transform: uppercase;
		    font-size: 2.5rem;
		    text-align: center;
		    padding: 20px 0;
		    letter-spacing: 1px;
		    border-bottom: 1px solid gray;
		}
		#count {
			text-align: center;
			padding: 0 40px;
			
			.count-total {
				color: white;
			}
			.count-title {
				color: white;
			}
			.count-comparison {
				color: white;
				font-size: 1rem;
				line-height: 1.6;
				margin-top: 60px;
				
				.count-comparison-total {
					font-weight: bold;
				}
			}
		}
    }
}

nav {
	position: fixed;
	width: 384px;
	height: 512px;
	left: 20px;
	bottom: 20px;
	z-index: 99999;
	
	> * {
		position: absolute;
		top: 0;
		
		&.fade {
			pointer-events: none;
			
			&.show {
				pointer-events: auto;
			}
		}
	}
}

#intro {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.65);
	z-index: 999;
	text-align: center;
	padding: 300px 300px;
	
	h1, h2, h3 {
		color: white;
	}
	h1 {
		margin-bottom: 40px;
	}
	h2 {
		margin-bottom: 120px;
	}
}
