main {
	width: 100vw;
    height: 100vh;
    
    #map {
	    width: 100vw;
		height: 100vh;
		position: absolute;
    }
    
    #message {
	    position: absolute;
	    z-index: 9999;
	    bottom: 50px;
	    left: 50px;
	    width: 61vw;
	    padding: 25px 35px;
	    pointer-events: none;
	    background: white;
	    font-size: 1.4rem;
	    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    }
    
    aside {
	    &.filtersOpen {
		    .aside-group {
		        top: -500px;
			}
			nav {
				top: -540px;
			}
	    }
	    
	    .aside-group {
		    height: 100vh;
		    position: relative;
			transition: 0.5s all;
			top: 0;
	    }
	    
	    width: 33vw;
	    height: 100vh;
	    position: fixed;
	    right: 0;
	    top: 0;
	    z-index: 9;
	    
	    #graph {
		    margin: 60px 0 50px;
	    }
	    #date {
	        width: 100%;
		    color: white;
		    font-weight: 700;
		    text-transform: uppercase;
		    font-size: 2.1rem;
		    text-align: center;
		    font-family: 'Fjalla One', sans-serif;
		    padding: 20px 0;
		    letter-spacing: 2px;
		    border-bottom: 1px solid rgba(255,255,255,0.5);
		}
		#count {
			text-align: center;
			padding: 0 40px;
			
			.count-total {
				color: white;
			}
			.count-title {
				color: white;
				font-style: normal;
				font-family: 'PT Sans', sans-serif;
				line-height: 1.4;
			}
			.count-comparison {
				color: white;
				font-size: 1rem;
				line-height: 1.6;
				margin-top: 30px;
				
				.count-comparison-total {
					font-weight: bold;
				}
			}
		}
    }
}

nav {
	height: 620px;
	position: relative;
	transition: 0.5s all;
	z-index: 99999;
	top: 0;
}

#intro,
#outro,
#bad-browser {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(90deg, rgba(74,51,35,0.75) 0%, rgba(165,169,58,0.9) 100%);
	z-index: 999;
	text-align: center;
	padding: 300px 300px;
	pointer-events: none;
	
	@media screen and (max-width: 1024px) {
		padding: 40px;	
	}
	
	&.show {
		pointer-events: auto;
	}
	
	h1, h2, h3 {
		color: white;
	}
	h1 {
		margin-bottom: 40px;
		
		@media screen and (max-width: 1024px) {
			font-size: 4rem;	
		}
	}
	h2 {
		margin-bottom: 100px;
		
		@media screen and (max-width: 1024px) {
			font-size: 1.4rem;	
			margin-bottom: 40px;
		}
	}
	button {
		background-color: white;
		border: none;
		font-size: 1.4rem;
		padding: 1rem 2.4rem;
		color: #A5AA3A;
	}
}
#outro {
	padding: 200px 250px;
}
#bad-browser {
	top: 0;
	display: none;
	opacity: 0;
	
	@media screen and (max-width: 1024px) {
		background: linear-gradient(90deg, rgba(74,51,35,1) 0%, rgba(165,169,58,1) 100%);
		display: block;
		opacity: 1;		
		pointer-events: auto;
	}
	
	button {
		color: #A5AA3A;
	}
	address {
		color: white;
		margin-top: 20px;
	}
}

.mapboxgl-ctrl-logo {
	pointer-events: none !important;
}
